*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Body */
body {
    background-color: white;
    color: #6f7cb2;
    font: 400 16px/26px 'Roboto', sans-serif;
}

/* Sticky Footer */
.topic {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

/* Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    height: 100px;
}

.form__title {
    font-size: 40px;
    color: #fff;
}

.form__inner {
    background-image: url(../images/galery2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 40px 50px;
    position: absolute;
}

.form__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form__input {
    width: 500px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

label {
    position: relative;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    left: 40px;
}



.form__input-radio {
    position: relative;
    bottom: 33px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}



.form__input::-webkit-input-placeholder {
    font-size: 14px;
    color: #C4C4C4;
}

.form__input:-ms-input-placeholder {
    font-size: 14px;
    color: #C4C4C4;
}

.form__input::-ms-input-placeholder {
    font-size: 14px;
    color: #C4C4C4;
}

.form__input::placeholder {
    font-size: 14px;
    color: #C4C4C4;
}

.form__btn {
    width: 130px;
    height: 50px;
    background: #0db8ec;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: 1px 5px 0px gray;
    box-shadow: 1px 5px 0px gray;
}

.footer {
    height: 100px;
}

.form__title {
    color: black;
}

/*# sourceMappingURL=main.css.map */